ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: indianred;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 166.125px;
	text-decoration: none;
}

li a.active {
	background-color: red;
	color: white;
}

li a:hover:not(.active) {
	background-color: darkred;
	color: white;
}